{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col">
      <form id="checkout-form" method="post" action="{% url 'checked_out_books' %}">
        {% csrf_token %}
        <h1>Catalog</h1>
        <table id="book-data-table" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              {% if user.is_authenticated %}
                <th>Select</th>
              {% endif %}
              <th>Cover</th>
              <th>#</th>
              <th>Name</th>
              <th>Author</th>
              <th>Genre</th>
              <th>ISBN</th>
              <th>User</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for item in books %}
              <tr>
                {% if user.is_authenticated %}
                  <td>
                    <input type="checkbox" name="books" value="{{ item.book_id }}" />
                  </td>
                {% endif %}
                <td>
                  <img src="https://book-covers-public.s3.amazonaws.com/{{ item.isbn }}.jpg" alt="{{ item.title }}" style="width: 100px; height: 150px;" />
                </td>
                <td>{{ item.book_id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.genre }}</td>
                <td>{{ item.isbn }}</td>
                <td>{{ item.user_id }}</td>
                <td>
                  {% if item.on_hold %}
                    <span class="badge bg-warning">On Hold</span>
                    {% if item.hold_end %}
                      <br />Hold Expires: {{ item.hold_end }}
                    {% endif %}
                  {% elif item.user_id %}
                    <span class="badge bg-secondary">Checked Out</span>
                  {% else %}
                    <a href="{% url 'place_hold' book_id = item.book_id %}" class="btn btn-primary">Place Hold</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if user.is_authenticated %}
          <button type="submit" form="checkout-form" class="btn btn-primary">Checkout</button>
        {% endif %}
      </form>

      {% comment %} <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="checkout-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Checkout Success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">Books have been checked out successfully.</div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      $('#book-data-table').DataTable()
    })
  </script>

  {% comment %} <script>
    $(document).ready(function () {
        $('#checkout-form').submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $('#checkout-toast').toast('show');
                },
                error: function (data) {
                }
            });
        });

        $('#checkout-toast').toast({
            delay: 2000
        });
    });
    </script> {% endcomment %}
{% endblock %}
