{% extends "base.html" %}
{% block content %}
    <h1>Checked Out Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Book</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>ISBN</th>
                <th>Checkout Date</th>
                <th>Due Date</th>
                <th>Fees</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in checked_out_books %}
            <tr>
                <td><img src="https://book-covers-public.s3.amazonaws.com/{{ item.isbn }}.jpg" alt="{{ item.title }}" width="100" height="150"></td>
                <td>{{ item.title }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.genre }}</td>
                <td>{{ item.isbn }}</td>
                <td>{{ item.checkout_date }}</td>
                <td>{{ item.due_date }}</td>
                <td>{{ item.fee_amount }}</td>

                <td>
                    <form method="post" action="{% url 'checkin' %}">
                        {% csrf_token %}
                        <input type="hidden" name="book_id" value="{{ item.book_id }}">
                        <button type="submit" class="btn btn-primary">Check In</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
