{% extends "/home/fatman9000/development/python/Integrated-Library-System/app/templates/app/base.html" %}
{% block content %}
    <div class="container page-form">
        <form action="/" id="" method="POST">
            <div class="form-group">
                <h1>Hello Stranger!</h1>
                <div class="row">
                    <div class="col-4">
                        <input class="form-control"
                               id="username"
                               name="username"
                               type="text"
                               placeholder="Input your username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <input class="form-control"
                               id="password"
                               name="password"
                               type="password"
                               placeholder="Input your password">
                    </div>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
    <div class="page-header"></div>
{% endblock %}
